{% extends 'base.html' %}



  {% block content %}
  <div>
    <div class="container pt-5">
      <div class="row">
        <div class="col-lg-5 mx-auto p-0">
          <div class="alert alert-info">
            <h2>Add New TODO</h2>
      
          </div>
          <div class=" p-4 mt-4">
            <form method="post" action="/add-todo/">
              {{form.as_p}}
              {% csrf_token %}
              <hr>
              <input type="submit" class="btn btn-info" value="ADD">
            </form>
          </div>
        </div>
        <div class="col">
          <div class="border">
           {% if todos|length == 0 %}
           <div class="p-4">
            <br>
            <br>
            <div class=" alert alert-info text-center">
              <p class="" style="font-size: 30px;"> 
                NO TODOS
              </p>
            </div>
            <br>
            <br>
           </div>
           {% else %}
           <div>
            <table class="table">
              <thead >
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for todo in todos %}

                <td>{{forloop.counter}}</td>
                <td>{{todo.title}}</td>
                <td>{{todo.status}}</td>
                <td>{{todo.priority}}</td>
                <td><a href="/delete-todo/{{todo.id}}"  title="Delete TODO">🗑️ |</a>
                  {% if todo.status == 'P' %}
                  <a href="/change-status/{{todo.id}}/C"  title="Mark Completed">✅</a>
                  {% else %}
                  <a href="/change-status/{{todo.id}}/P"  title="Mark Pnding">🕒</a>
                  {% endif %}
                </td>
              </tr>
                {% endfor %}
              

            </tbody>
            </table>
           </div>

           {% endif %}
          </div>
        </div>
      </div>
  </div>
  </div>
  


{% endblock %}
    




    